@import "tailwindcss";

@theme {
  --color-primary: #051032;
  --color-accent: #E2AE44;
  --color-bg-main: #F8FAFE;
  --color-bg-card: #ffffff;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}